<div class="boards">

  <div class="board">
    <h3>To do</h3>
    <div class="dropzone" #dropzone>
      <div class="card" draggable="true" #card>
        <div class="status red"></div>
        <div class="content">Next level Week</div>
      </div>
    </div>
  </div>

  <div class="board">
    <h3>In progress</h3>
    <div class="dropzone blue" #dropzone>
      <div class="card" draggable="true" #card>
        <div class="status blue"></div>
        <div class="content">Kanban com Angular</div>
      </div>
    </div>
  </div>

  <div class="board">
    <h3>Done</h3>
    <div class="dropzone" #dropzone></div>
  </div>

</div>
