<div class="boards">

  <div class="board">
     <h3>To do</h3>
     <div class="dropzone" #dropzone>
       <div class="card" draggable="true" #card>
         <div class="status green"></div>
         <div class="content">Ouvir Podcast</div>
       </div>
     </div>
  </div>

  <div class="board">
     <h3>In progress</h3>
     <div class="dropzone blue" #dropzone>
       <div class="card" draggable="true" #card>
         <div class="status blue"></div>
         <div class="content">Forum</div>
       </div>
     </div>
  </div>

  <div class="board">
     <h3>Done</h3>
     <div class="dropzone" #dropzone>
       <div class="card" draggable="true" #card>
         <div class="status red"></div>
         <div class="content">Next level week</div>
       </div>
     </div>
  </div>

 </div>
